<%= render 'shared/user_header.html.erb' %><br />
<% if @current_memberships == nil %>
<%= render 'shared/membership_form.html.erb' %>
<% else %>
<h1><%= @current_pool.name %> Rankings</h1>
<% end %>

<table class="selections">
  <tr>
    <th>User</th>
    <th>Entry</th>
    <th>Pick</th>
    <th>Streak</th>
    <th>Status</th>	
  </tr>

  <tr>
  	<td>Random User</td>
  	<td>Random User Picks</td>
  	<td>Chicago Bears</td>
  	<td>6 weeks</td>
  	<td>Active</td>
  </tr>
  <tr>
  	<td>Random User 2</td>
  	<td>Random User 2 Picks</td>
  	<td>Dallas Cowboys</td>
  	<td>4 weeks</td>
  	<td>Failed</td>
  </tr>
</table>
