<%= render 'shared/user_header', formats: :html, handlers: :erb %><br />

<h1><%= @current_pool.name %> Rankings</h1>

<table class="selections">
  <tr>
    <th>User</th>
    <th>Entry</th>
    <th>Current Week Pick</th>
    <th>Streak</th>
    <th>Status</th>	
  </tr>

  <%= render :partial => "membership", :collection => @memberships %>
  
</table>
