<%= render 'shared/user_header', formats: :html, handlers: :erb %><br />

<table class="front">
		<tr>
			<td class="main">
				<h1 class="selection"><%= @current_pool.name %> Rankings:</h1>
			</td>
		</tr>
	</table>


<table class="table table-striped table-condensed pretty">
  <tr>
    <th>User</th>
    <th>Entry</th>
    <th>Current Week Pick</th>
    <th>Streak</th>
    <th>Status</th>	
  </tr>

  <%= render :partial => "membership", :collection => @memberships %>
  
</table>
