<div class="center hero-unit">
<h1>Survivor Pool</h1>
<h2>
  This is the home page for the survivor pool application.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>