<table>
  <tr>
    <td><strong>Pool:</strong></td>
    <td></td>
    <td><%= link_to @pool.name, pool_path(@pool) %></td>
  </tr>
  <tr>
    <td><strong>Entry Name:</strong></td>
    <td></td>
    <td><%= @entry.name %></td>
  </tr>
</table>