<table class="table table-condensed selections">
  <tr>
    <th>Week</th>
    <th>Selected Team</th>
    <th>Opposing Team</th>
    <th>Result</th>
  </tr>
    <% @weeks.each do |f| %>
      <tr>
      <% if has_selections_for_week?(@entry, f) %>
        <% selection_by_week(@entry, f) %>
        <% if @selected_game %>
        <%= render "selected_game", f: f %>
        <% else %>
          <% if is_current_week?(f) %>
            "Testing1"
          <% else %>
            "Testing2"
          <% end %>
        <% end %>
      <% else %>
        <% if is_current_week?(f) %>
          <%= render 'non_selected_fields', f: f %>
        <% else %>
          <%= render 'future_week_fields', f: f %>
        <% end %>
      <% end %>
      </tr>
    <% end %>
</table>