<%= render 'shared/user_header' %>

<div class="row">
	<aside class="span4">
		<%= render 'entry_header' %>
	</aside>
</div><br />

<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Selections</a></li>
    <li><a href="#tab2" data-toggle="tab">Make a Selection</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'selections_display' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'new_selections_form' %>
    </div>
  </div>
</div>


