<% provide(:title, @user.username) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 100 %>
				<%= @user.username %>
			</h1>
			<%= @user.first_name %> <%= @user.last_name %>
		</section>
	</aside>
</div>